/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#wpd_tinctures_prices .inside,
#wpd_tinctures_details .inside {
   overflow: auto;
}

#wpd_tinctures_prices .inside .tincturesbox,
#wpd_tinctures_details .inside .tincturesdetailsbox {
	float: left;
	position: relative;
	width: 100%;
}

#postbox-container-2 #wpd_tinctures_prices .inside .tincturesbox {
	float: left;
	margin: 10px 1%;
	position: relative;
	width: 31.333%;
}

#postbox-container-2 #wpd_tinctures_details .inside .tincturesdetailsbox {
	float: left;
	margin: 10px 1%;
	position: relative;
	width: 18%;
}


/* Widget styles
-------------------------------------------------------------- */

div.widget[id*=_wpd_tinctures_] .widget-top,
div.widget[id*=_wpd_tinctures_] .widget-top:hover {
	border-color: #76bd43;
}

div.widget[id*=_wpd_tinctures_] .widget-title,
div.widget[id*=_wpd_tinctures_] .widget-title h3 {
	background: #76bd43;
	color: #FFF;
}

div.widget[id*=_wpd_tinctures_] .widget-title .in-widget-title {
	color: rgba(255,255,255,0.6);
}

div.widget[id*=_wpd_tinctures_] .widget-action {
	color: #FFF;
}
